<!DOCTYPE html>
<html>
  <head>
  <title>PDFs - Ruby on Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render "layouts/shared/header" %>
  <div class="container mt-3">
    <%= yield %>
  </div>
</body>
</html>
